# Node modules
node_modules/
backend/node_modules/
mobile/node_modules/

# Environment
backend/.env
*.env.local

# Expo
mobile/.expo/
mobile/dist/

# Uploads
backend/uploads/

# Logs
*.log

# OS
.DS_Store

# Local config
frontend/src/config/config.js
backend/src/scripts/addExercise.js